In [3]:
import pandas as pd

In [7]:
common_player_info=pd.read_csv("D:/Datasets/NBA/csv/common_player_info.csv")

In [9]:
pd.set_option('display.max_columns',None)

In [11]:
# common_player_info=pd.read_csv("D:/Data Analysis/SQL/Datasets/NBA/csv/common_player_info.csv")

 **if you try to replace 2 symbols u should set regex=true to ensure the symbols will change**

In [14]:
# if you try to replace 2 symbols u should set regex=true to ensure the symbols will changed 
common_player_info['height']=common_player_info['height'].replace("-", ".", regex=True)

In [16]:
common_player_info

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,last_affiliation,height,weight,season_exp,jersey,position,rosterstatus,games_played_current_season_flag,team_id,team_name,team_abbreviation,team_code,team_city,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24 00:00:00,Duke,USA,Duke/USA,6.10,240.0,5.0,30,Forward,Inactive,N,1610612757,Trail Blazers,POR,blazers,Portland,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16 00:00:00,UCLA,USA,UCLA/USA,7.2,225.0,20.0,33,Center,Inactive,N,1610612747,Lakers,LAL,lakers,Los Angeles,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03 00:00:00,San Jose State,France,San Jose State/France,6.6,235.0,7.0,9,Forward-Guard,Inactive,N,1610612758,Kings,SAC,kings,Sacramento,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11 00:00:00,California,USA,California/USA,6.9,245.0,13.0,3,Forward,Inactive,N,1610612763,Grizzlies,VAN,grizzlies,Vancouver,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06 00:00:00,Indiana,USA,Indiana/USA,6.7,220.0,5.0,5,Forward,Inactive,N,1610612744,Warriors,GOS,warriors,Golden State,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4166,1627835,Paul,Zipser,Paul Zipser,"Zipser, Paul",P. Zipser,paul-zipser,1994-02-18 00:00:00,Bayern Munich,Germany,Bayern Munich/Germany,6.8,226.0,2.0,16,Forward,Inactive,N,1610612741,Bulls,CHI,bulls,Chicago,paul_zipser,2016.0,2017.0,Y,Y,Y,2016,2,48,N
4167,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04 00:00:00,Darussafaka,Croatia,Darussafaka/Croatia,6.10,266.0,4.0,41,Center,Inactive,N,1610612739,Cavaliers,CLE,cavaliers,Cleveland,ante_zizic,2017.0,2019.0,Y,Y,Y,2016,1,23,N
4168,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30 00:00:00,Kent State,USA,Kent State/USA,7.1,240.0,1.0,34,Center,Inactive,N,1610612765,Pistons,DET,pistons,Detroit,HISTADD_jim_zoet,1982.0,1982.0,N,Y,Y,Undrafted,Undrafted,Undrafted,N
4169,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18 00:00:00,Mega Basket,Croatia,Mega Basket/Croatia,7.0,240.0,7.0,40,Center,Active,N,1610612746,Clippers,LAC,clippers,LA,ivica_zubac,2016.0,2023.0,Y,Y,Y,2016,2,32,N
4170,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19 00:00:00,George Washington,USA,George Washington/USA,6.3,195.0,1.0,NaN,Guard,Inactive,N,1610610036,Capitols,WAS,capitols,Washington,HISTADD_matt_zunic,1948.0,1948.0,N,Y,Y,1947,NaN,NaN,N

In [18]:
print(common_player_info['height'].unique())

['6.10' '7.2' '6.6' '6.9' '6.7' '6.3' '6.8' '6.5' '6.0' '6.11' '6.4'
 '5.10' '6.2' nan '5.11' '7.1' '7.0' '6.1' '7.5' '7.6' '5.5' '7.3' '5.9'
 '5.8' '5.7' '5.6' '7.4' '7.7']

In [20]:
print(common_player_info['draft_year'].unique())

['1990' '1969' '1997' '1996' '1976' '1956' 'Undrafted' '2013' '2020'
 '2005' '1953' '1985' '2012' '1975' '1970' '2006' '2014' '1986' '2017'
 '2018' '1968' '2007' '2022' '1981' '2008' '1966' '2016' '2010' '1959'
 '2021' '1995' '1991' '2019' '1987' '2011' '2004' '1971' '1980' '1994'
 '1998' '2002' '1974' '1982' '2015' '1978' '1988' '1989' '1984' '1954'
 '2003' '2001' '1950' '1977' '1955' '1973' '1999' '2009' '1948' '1952'
 '2000' '1979' '1983' '1993' '1949' '1964' '1972' '1951' '1992' '1965'
 '1958' '1962' '1967' '1961' '1957' '1960' '1947' '1963']

In [22]:
common_player_info['draft_year']=common_player_info['draft_year'].replace('Undrafted','0')

In [24]:
common_player_info

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,last_affiliation,height,weight,season_exp,jersey,position,rosterstatus,games_played_current_season_flag,team_id,team_name,team_abbreviation,team_code,team_city,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24 00:00:00,Duke,USA,Duke/USA,6.10,240.0,5.0,30,Forward,Inactive,N,1610612757,Trail Blazers,POR,blazers,Portland,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16 00:00:00,UCLA,USA,UCLA/USA,7.2,225.0,20.0,33,Center,Inactive,N,1610612747,Lakers,LAL,lakers,Los Angeles,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03 00:00:00,San Jose State,France,San Jose State/France,6.6,235.0,7.0,9,Forward-Guard,Inactive,N,1610612758,Kings,SAC,kings,Sacramento,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11 00:00:00,California,USA,California/USA,6.9,245.0,13.0,3,Forward,Inactive,N,1610612763,Grizzlies,VAN,grizzlies,Vancouver,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06 00:00:00,Indiana,USA,Indiana/USA,6.7,220.0,5.0,5,Forward,Inactive,N,1610612744,Warriors,GOS,warriors,Golden State,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4166,1627835,Paul,Zipser,Paul Zipser,"Zipser, Paul",P. Zipser,paul-zipser,1994-02-18 00:00:00,Bayern Munich,Germany,Bayern Munich/Germany,6.8,226.0,2.0,16,Forward,Inactive,N,1610612741,Bulls,CHI,bulls,Chicago,paul_zipser,2016.0,2017.0,Y,Y,Y,2016,2,48,N
4167,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04 00:00:00,Darussafaka,Croatia,Darussafaka/Croatia,6.10,266.0,4.0,41,Center,Inactive,N,1610612739,Cavaliers,CLE,cavaliers,Cleveland,ante_zizic,2017.0,2019.0,Y,Y,Y,2016,1,23,N
4168,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30 00:00:00,Kent State,USA,Kent State/USA,7.1,240.0,1.0,34,Center,Inactive,N,1610612765,Pistons,DET,pistons,Detroit,HISTADD_jim_zoet,1982.0,1982.0,N,Y,Y,0,Undrafted,Undrafted,N
4169,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18 00:00:00,Mega Basket,Croatia,Mega Basket/Croatia,7.0,240.0,7.0,40,Center,Active,N,1610612746,Clippers,LAC,clippers,LA,ivica_zubac,2016.0,2023.0,Y,Y,Y,2016,2,32,N
4170,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19 00:00:00,George Washington,USA,George Washington/USA,6.3,195.0,1.0,NaN,Guard,Inactive,N,1610610036,Capitols,WAS,capitols,Washington,HISTADD_matt_zunic,1948.0,1948.0,N,Y,Y,1947,NaN,NaN,N

In [26]:
common_player_info['draft_number']=common_player_info['draft_number'].replace('Undrafted','0')

In [28]:
common_player_info.to_csv('D:/Datasets/NBA/csv/common_player_info_norm.csv')

In [30]:
draft_combine_stats=pd.read_csv("D:/Datasets/NBAA/csv/draft_combine_stats.csv")

In [33]:
draft_combine_stats

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,weight,wingspan,wingspan_ft_in,standing_reach,standing_reach_ft_in,body_fat_pct,hand_length,hand_width,standing_vertical_leap,max_vertical_leap,lane_agility_time,modified_lane_agility_time,three_quarter_sprint,bench_press,spot_fifteen_corner_left,spot_fifteen_break_left,spot_fifteen_top_key,spot_fifteen_break_right,spot_fifteen_corner_right,spot_college_corner_left,spot_college_break_left,spot_college_top_key,spot_college_break_right,spot_college_corner_right,spot_nba_corner_left,spot_nba_break_left,spot_nba_top_key,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',NaN,NaN,259.0,84.50,7' 0.5'',107.0,8' 11'',12.4,NaN,NaN,28.5,31.0,11.90,NaN,3.40,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',NaN,NaN,199.0,81.50,6' 9.5'',99.5,8' 3.5'',5.3,NaN,NaN,31.5,36.0,NaN,NaN,3.25,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',NaN,NaN,188.0,81.50,6' 9.5'',99.5,8' 3.5'',9.3,NaN,NaN,30.0,37.0,10.91,NaN,3.20,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',NaN,NaN,229.0,82.50,6' 10.5'',105.0,8' 9'',9.3,NaN,NaN,29.5,33.0,10.95,NaN,3.30,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',NaN,NaN,206.0,80.50,6' 8.5'',99.0,8' 3'',5.3,NaN,NaN,35.0,41.5,11.26,NaN,2.91,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2023,1641705,Victor,Wembanyama,Victor Wembanyama,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1198,2023,1641727,Dariq,Whitehead,Dariq Whitehead,SG,77.75,6' 5.75'',NaN,NaN,217.2,82.25,6' 10.25'',103.5,8' 7.50'',NaN,8.50,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1199,2023,1641715,Cam,Whitmore,Cam Whitmore,SF,77.75,6' 5.75'',NaN,NaN,235.0,80.50,6' 8.50'',103.5,8' 7.50'',NaN,8.00,8.25,31.5,40.5,10.82,3.33,3.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1200,2023,1630592,Jalen,Wilson,Jalen Wilson,SF,77.50,6' 5.50'',NaN,NaN,230.2,80.00,6' 8.00'',99.5,8' 3.50'',NaN,8.25,9.00,31.5,35.0,11.26,3.15,3.20,NaN,NaN,NaN,NaN,NaN,NaN,9-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-30,NaN,NaN,NaN,14-25
1201,2023,1631209,Isaiah,Wong,Isaiah Wong,SG,74.50,6' 2.50'',NaN,NaN,178.4,78.75,6' 6.75'',97.5,8' 1.50'',NaN,8.25,9.50,32.5,37.0,10.93,NaN,3.22,NaN,NaN,NaN,NaN,NaN,NaN,10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23-30,NaN,NaN,NaN,17-25

In [35]:
pd.set_option('display.max_columns',None)

In [37]:
print(draft_combine_stats['height_w_shoes'])

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1197   NaN
1198   NaN
1199   NaN
1200   NaN
1201   NaN
Name: height_w_shoes, Length: 1202, dtype: float64

In [39]:
draft_combine_stats

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,weight,wingspan,wingspan_ft_in,standing_reach,standing_reach_ft_in,body_fat_pct,hand_length,hand_width,standing_vertical_leap,max_vertical_leap,lane_agility_time,modified_lane_agility_time,three_quarter_sprint,bench_press,spot_fifteen_corner_left,spot_fifteen_break_left,spot_fifteen_top_key,spot_fifteen_break_right,spot_fifteen_corner_right,spot_college_corner_left,spot_college_break_left,spot_college_top_key,spot_college_break_right,spot_college_corner_right,spot_nba_corner_left,spot_nba_break_left,spot_nba_top_key,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',NaN,NaN,259.0,84.50,7' 0.5'',107.0,8' 11'',12.4,NaN,NaN,28.5,31.0,11.90,NaN,3.40,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',NaN,NaN,199.0,81.50,6' 9.5'',99.5,8' 3.5'',5.3,NaN,NaN,31.5,36.0,NaN,NaN,3.25,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',NaN,NaN,188.0,81.50,6' 9.5'',99.5,8' 3.5'',9.3,NaN,NaN,30.0,37.0,10.91,NaN,3.20,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',NaN,NaN,229.0,82.50,6' 10.5'',105.0,8' 9'',9.3,NaN,NaN,29.5,33.0,10.95,NaN,3.30,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',NaN,NaN,206.0,80.50,6' 8.5'',99.0,8' 3'',5.3,NaN,NaN,35.0,41.5,11.26,NaN,2.91,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2023,1641705,Victor,Wembanyama,Victor Wembanyama,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1198,2023,1641727,Dariq,Whitehead,Dariq Whitehead,SG,77.75,6' 5.75'',NaN,NaN,217.2,82.25,6' 10.25'',103.5,8' 7.50'',NaN,8.50,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1199,2023,1641715,Cam,Whitmore,Cam Whitmore,SF,77.75,6' 5.75'',NaN,NaN,235.0,80.50,6' 8.50'',103.5,8' 7.50'',NaN,8.00,8.25,31.5,40.5,10.82,3.33,3.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1200,2023,1630592,Jalen,Wilson,Jalen Wilson,SF,77.50,6' 5.50'',NaN,NaN,230.2,80.00,6' 8.00'',99.5,8' 3.50'',NaN,8.25,9.00,31.5,35.0,11.26,3.15,3.20,NaN,NaN,NaN,NaN,NaN,NaN,9-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-30,NaN,NaN,NaN,14-25
1201,2023,1631209,Isaiah,Wong,Isaiah Wong,SG,74.50,6' 2.50'',NaN,NaN,178.4,78.75,6' 6.75'',97.5,8' 1.50'',NaN,8.25,9.50,32.5,37.0,10.93,NaN,3.22,NaN,NaN,NaN,NaN,NaN,NaN,10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23-30,NaN,NaN,NaN,17-25

In [41]:
print(draft_combine_stats['height_w_shoes'].isnull().sum())

194

In [43]:
print(draft_combine_stats['height_wo_shoes_ft_in'].isnull().sum())

49

In [45]:
print(draft_combine_stats['height_w_shoes_ft_in'].isnull().sum())

194

In [47]:
print(draft_combine_stats['weight'].isnull().sum())

50

In [49]:
print(draft_combine_stats['modified_lane_agility_time'].isnull().sum())

791

In [51]:
draft_combine_stats=draft_combine_stats.drop(columns=['modified_lane_agility_time'])

In [53]:
draft_combine_stats

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,weight,wingspan,wingspan_ft_in,standing_reach,standing_reach_ft_in,body_fat_pct,hand_length,hand_width,standing_vertical_leap,max_vertical_leap,lane_agility_time,three_quarter_sprint,bench_press,spot_fifteen_corner_left,spot_fifteen_break_left,spot_fifteen_top_key,spot_fifteen_break_right,spot_fifteen_corner_right,spot_college_corner_left,spot_college_break_left,spot_college_top_key,spot_college_break_right,spot_college_corner_right,spot_nba_corner_left,spot_nba_break_left,spot_nba_top_key,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',NaN,NaN,259.0,84.50,7' 0.5'',107.0,8' 11'',12.4,NaN,NaN,28.5,31.0,11.90,3.40,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',NaN,NaN,199.0,81.50,6' 9.5'',99.5,8' 3.5'',5.3,NaN,NaN,31.5,36.0,NaN,3.25,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',NaN,NaN,188.0,81.50,6' 9.5'',99.5,8' 3.5'',9.3,NaN,NaN,30.0,37.0,10.91,3.20,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',NaN,NaN,229.0,82.50,6' 10.5'',105.0,8' 9'',9.3,NaN,NaN,29.5,33.0,10.95,3.30,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',NaN,NaN,206.0,80.50,6' 8.5'',99.0,8' 3'',5.3,NaN,NaN,35.0,41.5,11.26,2.91,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2023,1641705,Victor,Wembanyama,Victor Wembanyama,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1198,2023,1641727,Dariq,Whitehead,Dariq Whitehead,SG,77.75,6' 5.75'',NaN,NaN,217.2,82.25,6' 10.25'',103.5,8' 7.50'',NaN,8.50,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1199,2023,1641715,Cam,Whitmore,Cam Whitmore,SF,77.75,6' 5.75'',NaN,NaN,235.0,80.50,6' 8.50'',103.5,8' 7.50'',NaN,8.00,8.25,31.5,40.5,10.82,3.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1200,2023,1630592,Jalen,Wilson,Jalen Wilson,SF,77.50,6' 5.50'',NaN,NaN,230.2,80.00,6' 8.00'',99.5,8' 3.50'',NaN,8.25,9.00,31.5,35.0,11.26,3.20,NaN,NaN,NaN,NaN,NaN,NaN,9-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-30,NaN,NaN,NaN,14-25
1201,2023,1631209,Isaiah,Wong,Isaiah Wong,SG,74.50,6' 2.50'',NaN,NaN,178.4,78.75,6' 6.75'',97.5,8' 1.50'',NaN,8.25,9.50,32.5,37.0,10.93,3.22,NaN,NaN,NaN,NaN,NaN,NaN,10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23-30,NaN,NaN,NaN,17-25

In [55]:
print(draft_combine_stats['spot_fifteen_corner_left'].isnull().sum())

1128

In [57]:
draft_combine_stats=draft_combine_stats.drop(columns=['spot_fifteen_corner_left'])

In [59]:
print(draft_combine_stats['spot_fifteen_break_left'].isnull().sum())

1126

In [61]:
draft_combine_stats=draft_combine_stats.drop(columns=['spot_fifteen_break_left'])

In [63]:
print(draft_combine_stats['spot_fifteen_top_key'].isnull().sum())

1126

In [65]:
draft_combine_stats=draft_combine_stats.drop(columns=['spot_fifteen_top_key'])

In [67]:
print(draft_combine_stats['spot_fifteen_break_right'].isnull().sum())

1126

In [69]:
print(draft_combine_stats['off_drib_college_break_left'].isnull().sum())

1092

In [71]:
draft_combine_stats=draft_combine_stats.drop(columns=['spot_fifteen_corner_right','spot_college_corner_left','spot_college_break_left','spot_college_top_key','spot_college_break_right', 'spot_college_corner_right','spot_nba_corner_left','spot_nba_break_left','spot_nba_top_key','spot_nba_break_right','spot_nba_corner_right','off_drib_fifteen_break_left','off_drib_fifteen_top_key','off_drib_fifteen_break_right','off_drib_college_top_key','off_drib_college_top_key','off_drib_college_break_right','on_move_fifteen','on_move_college'])

In [73]:
draft_combine_stats

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,weight,wingspan,wingspan_ft_in,standing_reach,standing_reach_ft_in,body_fat_pct,hand_length,hand_width,standing_vertical_leap,max_vertical_leap,lane_agility_time,three_quarter_sprint,bench_press,spot_fifteen_break_right,off_drib_college_break_left
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',NaN,NaN,259.0,84.50,7' 0.5'',107.0,8' 11'',12.4,NaN,NaN,28.5,31.0,11.90,3.40,16.0,NaN,NaN
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',NaN,NaN,199.0,81.50,6' 9.5'',99.5,8' 3.5'',5.3,NaN,NaN,31.5,36.0,NaN,3.25,12.0,NaN,NaN
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',NaN,NaN,188.0,81.50,6' 9.5'',99.5,8' 3.5'',9.3,NaN,NaN,30.0,37.0,10.91,3.20,6.0,NaN,NaN
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',NaN,NaN,229.0,82.50,6' 10.5'',105.0,8' 9'',9.3,NaN,NaN,29.5,33.0,10.95,3.30,12.0,NaN,NaN
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',NaN,NaN,206.0,80.50,6' 8.5'',99.0,8' 3'',5.3,NaN,NaN,35.0,41.5,11.26,2.91,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2023,1641705,Victor,Wembanyama,Victor Wembanyama,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1198,2023,1641727,Dariq,Whitehead,Dariq Whitehead,SG,77.75,6' 5.75'',NaN,NaN,217.2,82.25,6' 10.25'',103.5,8' 7.50'',NaN,8.50,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1199,2023,1641715,Cam,Whitmore,Cam Whitmore,SF,77.75,6' 5.75'',NaN,NaN,235.0,80.50,6' 8.50'',103.5,8' 7.50'',NaN,8.00,8.25,31.5,40.5,10.82,3.20,NaN,NaN,NaN
1200,2023,1630592,Jalen,Wilson,Jalen Wilson,SF,77.50,6' 5.50'',NaN,NaN,230.2,80.00,6' 8.00'',99.5,8' 3.50'',NaN,8.25,9.00,31.5,35.0,11.26,3.20,NaN,NaN,18-30
1201,2023,1631209,Isaiah,Wong,Isaiah Wong,SG,74.50,6' 2.50'',NaN,NaN,178.4,78.75,6' 6.75'',97.5,8' 1.50'',NaN,8.25,9.50,32.5,37.0,10.93,3.22,NaN,NaN,23-30

In [75]:
print(draft_combine_stats['bench_press'].isnull().sum())

394

In [77]:
draft_combine_stats.to_csv('D:/Datasets/NBA/csv/draft_combine_stats_norm.csv')

In [79]:
draft_history=pd.read_csv('D:/Datasets/NBA/csv/draft_history.csv')

In [81]:
draft_history

,person_id,player_name,season,round_number,round_pick,overall_pick,draft_type,team_id,team_city,team_name,team_abbreviation,organization,organization_type,player_profile_flag
0,79299,Clifton McNeeley,1947,1,1,1,Draft,1610610031,Pittsburgh,Ironmen,PIT,Texas-El Paso,College/University,0
1,78109,Glen Selbo,1947,1,2,2,Draft,1610610035,Toronto,Huskies,HUS,Wisconsin,College/University,1
2,76649,Eddie Ehlers,1947,1,3,3,Draft,1610612738,Boston,Celtics,BOS,Purdue,College/University,1
3,79302,Walt Dropo,1947,1,4,4,Draft,1610610032,Providence,Steamrollers,PRO,Connecticut,College/University,0
4,77048,Dick Holub,1947,1,5,5,Draft,1610612752,New York,Knicks,NYK,Long Island-Brooklyn,College/University,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7985,1641771,Jalen Slawson,2023,2,24,54,Draft,1610612758,Sacramento,Kings,SAC,Furman,College/University,1
7986,1631209,Isaiah Wong,2023,2,25,55,Draft,1610612754,Indiana,Pacers,IND,Miami (FL),College/University,1
7987,1641844,Tarik Biberovic,2023,2,26,56,Draft,1610612763,Memphis,Grizzlies,MEM,Fenerbahce S.K. (Turkey),Other Team/Club,1
7988,1631218,Trayce Jackson-Davis,2023,2,27,57,Draft,1610612764,Washington,Wizards,WAS,Indiana,College/University,1
7989,1641753,Chris Livingston,2023,2,28,58,Draft,1610612749,Milwaukee,Bucks,MIL,Kentucky,College/University,1

In [83]:
pd.set_option("display.max_columns",None)

In [85]:
game=pd.read_csv('D:/Datasets/NBA/csv/game.csv')

In [88]:
game

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,fga_home,fg_pct_home,fg3m_home,fg3a_home,fg3_pct_home,ftm_home,fta_home,ft_pct_home,oreb_home,dreb_home,reb_home,ast_home,stl_home,blk_home,tov_home,pf_home,pts_home,plus_minus_home,video_available_home,team_id_away,team_abbreviation_away,team_name_away,matchup_away,wl_away,fgm_away,fga_away,fg_pct_away,fg3m_away,fg3a_away,fg3_pct_away,ftm_away,fta_away,ft_pct_away,oreb_away,dreb_away,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,NaN,NaN,NaN,NaN,NaN,16.0,29.0,0.552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,-2,0,1610612752,NYK,New York Knicks,NYK @ HUS,W,24.0,NaN,NaN,NaN,NaN,NaN,20.0,26.0,0.769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,59.0,0.339,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,56.0,5,0,1610610031,PIT,Pittsburgh Ironmen,PIT @ BOM,L,16.0,72.0,0.222,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,6,0,1610612738,BOS,Boston Celtics,BOS @ PRO,L,21.0,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,63.0,16,0,1610612752,NYK,New York Knicks,NYK @ CHS,L,16.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-17,0,1610610036,WAS,Washington Capitols,WAS @ DEF,W,18.0,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65693,42022,1610612748,MIA,Miami Heat,42200403,2023-06-07 00:00:00,MIA vs. DEN,L,240,34.0,92.0,0.370,11.0,35.0,0.314,15.0,19.0,0.789,10.0,23.0,33.0,20.0,7.0,3.0,4.0,22.0,94.0,-15,1,1610612743,DEN,Denver Nuggets,DEN @ MIA,W,41.0,80.0,0.513,5.0,18.0,0.278,22.0,27.0,0.815,13.0,45.0,58.0,28.0,3.0,5.0,14.0,18.0,109.0,15,1,Playoffs
65694,42022,1610612748,MIA,Miami Heat,42200404,2023-06-09 00:00:00,MIA vs. DEN,L,240,35.0,78.0,0.449,8.0,25.0,0.320,17.0,20.0,0.850,8.0,29.0,37.0,23.0,2.0,3.0,15.0,19.0,95.0,-13,1,1610612743,DEN,Denver Nuggets,DEN @ MIA,W,39.0,79.0,0.494,14.0,28.0,0.500,16.0,21.0,0.762,5.0,29.0,34.0,26.0,11.0,7.0,8.0,18.0,108.0,13,1,Playoffs
65695,42022,1610612743,DEN,Denver Nuggets,42200405,2023-06-12 00:00:00,DEN vs. MIA,W,240,38.0,84.0,0.452,5.0,28.0,0.179,13.0,23.0,0.565,11.0,46.0,57.0,21.0,6.0,7.0,15.0,13.0,94.0,5,1,1610612748,MIA,Miami Heat,MIA @ DEN,L,33.0,96.0,0.344,9.0,35.0,0.257,14.0,16.0,0.875,11.0,33.0,44.0,18.0,9.0,7.0,8.0,21.0,89.0,-5,1,Playoffs
65696,32022,1610616834,LBN,Team LeBron,32200001,2023-02-19 00:00:00,LBN vs. GNS,L,221,79.0,132.0,0.598,17.0,60.0,0.283,0.0,0.0,NaN,13.0,32.0,45.0,49.0,7.0,2.0,10.0,5.0,175.0,-9,1,1610616833,GNS,Team Giannis,GNS @ LBN,W,76.0,123.0,0.618,29.0,66.0,0.439,3.0,4.0,0.750,10.0,36.0,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,All-Star
65697,32022,1610616834,LBN,Team LeBron,32200001,2023-02-19 00:00:00,LBN vs. GNS,L,221,79.0,132.0,0.598,17.0,60.0,0.283,0.0,0.0,NaN,13.0,32.0,45.0,49.0,7.0,2.0,10.0,5.0,175.0,-9,1,1610616833,GNS,Team Giannis,GNS @ LBN,W,76.0,123.0,0.618,29.0,66.0,0.439,3.0,4.0,0.750,10.0,36.0,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,All Star

In [91]:
print(game['dreb_away'].isna().sum())

18998

In [93]:
game_info=pd.read_csv('D:/Datasets/NBA/csv/game_info.csv')

In [95]:
game_info

        game_id            game_date  attendance game_time
0      24600001  1946-11-01 00:00:00         NaN       NaN
1      24600003  1946-11-02 00:00:00         NaN       NaN
2      24600002  1946-11-02 00:00:00         NaN       NaN
3      24600004  1946-11-02 00:00:00         NaN       NaN
4      24600005  1946-11-02 00:00:00         NaN       NaN
...         ...                  ...         ...       ...
58048  42200403  2023-06-07 00:00:00     20019.0      2:24
58049  42200404  2023-06-09 00:00:00     20184.0      2:29
58050  42200405  2023-06-12 00:00:00     19537.0      2:22
58051  32200001  2023-02-19 00:00:00     17886.0      0:00
58052  32200001  2023-02-19 00:00:00     17886.0      0:00

[58053 rows x 4 columns]

In [97]:
print(game_info['game_date'].isna().sum())

0

In [99]:
game_summary=pd.read_csv('D:/Datasets/NBA/csv/game_summary.csv')

In [101]:
game_summary

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01 00:00:00,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02 00:00:00,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02 00:00:00,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02 00:00:00,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02 00:00:00,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58105,2023-06-07 00:00:00,1.0,42200403,3,Final,20230607/DENMIA,1610612748,1610612743,2022,4,,ABC,Q4 - ABC,1
58106,2023-06-09 00:00:00,1.0,42200404,3,Final,20230609/DENMIA,1610612748,1610612743,2022,4,,ABC,Q4 - ABC,1
58107,2023-06-12 00:00:00,1.0,42200405,3,Final,20230612/MIADEN,1610612743,1610612748,2022,4,,ABC,Q4 - ABC,1
58108,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1
58109,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1

In [103]:
print(game_summary['game_status_text'].unique())

[nan 'Final' '7:00 pm ET' '8:00 pm ET' '4th Qtr' 'Final               ']

In [105]:
print(game_summary['live_pc_time'].isna().sum())

56086

In [107]:
game_summary=game_summary.drop(columns=['live_pc_time'])

In [109]:
print(game_summary['natl_tv_broadcaster_abbreviation'].isna().sum())

51907

In [111]:
game_summary=game_summary.drop(columns=['natl_tv_broadcaster_abbreviation'])

In [113]:
print(game_summary['live_period_time_bcast'].isna().sum())

0

In [115]:
game_summary.to_csv('D:/Datasets/NBA/csv/game_summary_norm.csv')

In [117]:
inactive_players=pd.read_csv('D:/Datasets/NBA/csv/inactive_players.csv')

In [119]:
inactive_players

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,29600034,184,Bobby,Phills,14.0,1610612739,Cleveland,Cavaliers,CLE
1,29600034,781,Will,Perdue,41.0,1610612759,San Antonio,Spurs,SAS
2,29600132,120,Steven,Smith,8.0,1610612737,Atlanta,Hawks,ATL
3,29600203,698,Eddie,Johnson,8.0,1610612754,Indiana,Pacers,IND
4,29600213,32,Clifford,Rozier,44.0,1610612753,Orlando,Magic,ORL
...,...,...,...,...,...,...,...,...,...
110186,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110187,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN
110188,32200001,201142,Kevin,Durant,35.0,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN

In [121]:
print(inactive_players['team_city'].unique())

['Cleveland' 'San Antonio' 'Atlanta' 'Indiana' 'Orlando' 'Toronto'
 'Los Angeles' 'Miami' 'New Jersey' 'Houston' 'Charlotte' 'New York'
 'Philadelphia' 'Boston' 'Vancouver' 'Dallas' 'Utah' 'Sacramento'
 'Portland' 'Seattle' 'Minnesota' 'Chicago' 'Detroit' 'Golden State'
 'Denver' 'Washington' 'Memphis' 'Milwaukee' 'Phoenix' 'New Orleans'
 'New Orleans/Oklahoma City' 'Real Madrid' 'East NBA All Stars'
 'Oklahoma City' 'Moscow' 'Vilnius' 'Brooklyn' 'West NBA All Stars' 'LA'
 'Team' 'Adelaide']

In [123]:
filtered_players = inactive_players[inactive_players['team_city'] == 'Team']
filtered_players

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
67529,31700001,202322,John,Wall,2.0,1610616833,Team,LeBron,LBN
67530,31700001,202326,DeMarcus,Cousins,0.0,1610616833,Team,LeBron,LBN
67531,31700001,204001,Kristaps,Porzingis,6.0,1610616833,Team,LeBron,LBN
67532,31700001,201567,Kevin,Love,0.0,1610616833,Team,LeBron,LBN
91531,32000001,203076,Anthony,Davis,3.0,1610616833,Team,Durant,DRT
91532,32000001,1626164,Devin,Booker,1.0,1610616833,Team,Durant,DRT
91533,32000001,203954,Joel,Embiid,21.0,1610616833,Team,Durant,DRT
91534,32000001,201142,Kevin,Durant,7.0,1610616833,Team,Durant,DRT
91535,32000001,1627732,Ben,Simmons,25.0,1610616834,Team,LeBron,LBN
101458,32100001,201142,Kevin,Durant,7.0,1610616833,Team,Durant,DRT
101459,32100001,203110,Draymond,Green,23.0,1610616833,Team,Durant,DRT
101460,32100001,201935,James,Harden,13.0,1610616834,Team,LeBron,LBN
101461,32100001,1628378,Donovan,Mitchell,45.0,1610616834,Team,LeBron,LBN
110185,32200001,201142,Kevin,Durant,35.0,1610616833,Team,Giannis,GNS
110186,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110187,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN
110188,32200001,201142,Kevin,Durant,35.0,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN

In [ ]:
# inactive_players.drop(inactive_players[inactive_players['team_city']=='Team'].index,inplace=True)

In [125]:
inactive_players['team_city'].unique()

array(['Cleveland', 'San Antonio', 'Atlanta', 'Indiana', 'Orlando',
       'Toronto', 'Los Angeles', 'Miami', 'New Jersey', 'Houston',
       'Charlotte', 'New York', 'Philadelphia', 'Boston', 'Vancouver',
       'Dallas', 'Utah', 'Sacramento', 'Portland', 'Seattle', 'Minnesota',
       'Chicago', 'Detroit', 'Golden State', 'Denver', 'Washington',
       'Memphis', 'Milwaukee', 'Phoenix', 'New Orleans',
       'New Orleans/Oklahoma City', 'Real Madrid', 'East NBA All Stars',
       'Oklahoma City', 'Moscow', 'Vilnius', 'Brooklyn',
       'West NBA All Stars', 'LA', 'Team', 'Adelaide'], dtype=object)

In [127]:
rm=inactive_players[inactive_players['team_city']=='Real Madrid']

In [129]:
rm

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
17477,10700028,40045,Felipe,Reyes,9.0,12315,Real Madrid,Real Madrid,RMA

In [132]:
inactive_players['team_city'].unique()

array(['Cleveland', 'San Antonio', 'Atlanta', 'Indiana', 'Orlando',
       'Toronto', 'Los Angeles', 'Miami', 'New Jersey', 'Houston',
       'Charlotte', 'New York', 'Philadelphia', 'Boston', 'Vancouver',
       'Dallas', 'Utah', 'Sacramento', 'Portland', 'Seattle', 'Minnesota',
       'Chicago', 'Detroit', 'Golden State', 'Denver', 'Washington',
       'Memphis', 'Milwaukee', 'Phoenix', 'New Orleans',
       'New Orleans/Oklahoma City', 'Real Madrid', 'East NBA All Stars',
       'Oklahoma City', 'Moscow', 'Vilnius', 'Brooklyn',
       'West NBA All Stars', 'LA', 'Team', 'Adelaide'], dtype=object)

In [134]:
moscow=inactive_players[inactive_players['team_city']=='Moscow']

In [136]:
moscow

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
23350,10800026,416497,Andrey,Vorontsevich,20.0,12308,Moscow,CSKA,MOS

In [138]:
# inactive_players.drop(inactive_players[inactive_players['team_city']=='Moscow'].index,inplace=True)

In [140]:
inactive_players

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,29600034,184,Bobby,Phills,14.0,1610612739,Cleveland,Cavaliers,CLE
1,29600034,781,Will,Perdue,41.0,1610612759,San Antonio,Spurs,SAS
2,29600132,120,Steven,Smith,8.0,1610612737,Atlanta,Hawks,ATL
3,29600203,698,Eddie,Johnson,8.0,1610612754,Indiana,Pacers,IND
4,29600213,32,Clifford,Rozier,44.0,1610612753,Orlando,Magic,ORL
...,...,...,...,...,...,...,...,...,...
110186,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110187,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN
110188,32200001,201142,Kevin,Durant,35.0,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN

In [142]:
print(inactive_players[inactive_players['team_name']=='East'])

        game_id  player_id first_name last_name  jersey_num     team_id  \
17938  30700001        708      Kevin   Garnett         5.0  1610616833
17939  30700001       2406      Caron    Butler         3.0  1610616833
17940  30700001        708      Kevin   Garnett         5.0  1610616833
17941  30700001       2406      Caron    Butler         3.0  1610616833
23767  30800001       2547      Chris      Bosh         4.0  1610616833
23768  30800001       2749     Jameer    Nelson        14.0  1610616833
48011  31400001       2548     Dwyane      Wade         3.0  1610616833
48013  31400001       2548     Dwyane      Wade         3.0  1610616833
53141  31500001     202710      Jimmy    Butler        21.0  1610616833
53142  31500001       2547      Chris      Bosh         1.0  1610616833

                team_city team_name team_abbreviation
17938  East NBA All Stars      East               EST
17939  East NBA All Stars      East               EST
17940  East NBA All Stars      East               EST
17941  East NBA All Stars      East               EST
23767  East NBA All Stars      East               EST
23768  East NBA All Stars      East               EST
48011  East NBA All Stars      East               EST
48013  East NBA All Stars      East               EST
53141  East NBA All Stars      East               EST
53142  East NBA All Stars      East               EST

In [144]:
# inactive_players.drop(inactive_players[inactive_players['team_city']=='Lietuvos Rytas'].index,inplace=True)

In [146]:
inactive_players[inactive_players.duplicated()]

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
17940,30700001,708,Kevin,Garnett,5.0,1610616833,East NBA All Stars,East,EST
17941,30700001,2406,Caron,Butler,3.0,1610616833,East NBA All Stars,East,EST
48013,31400001,2548,Dwyane,Wade,3.0,1610616833,East NBA All Stars,East,EST
48014,31400001,201933,Blake,Griffin,32.0,1610616834,West NBA All Stars,West,WST
110188,32200001,201142,Kevin,Durant,35.0,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN

In [148]:
# inactive_players=inactive_players.drop_duplicates(keep=False)

In [150]:
inactive_players

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,29600034,184,Bobby,Phills,14.0,1610612739,Cleveland,Cavaliers,CLE
1,29600034,781,Will,Perdue,41.0,1610612759,San Antonio,Spurs,SAS
2,29600132,120,Steven,Smith,8.0,1610612737,Atlanta,Hawks,ATL
3,29600203,698,Eddie,Johnson,8.0,1610612754,Indiana,Pacers,IND
4,29600213,32,Clifford,Rozier,44.0,1610612753,Orlando,Magic,ORL
...,...,...,...,...,...,...,...,...,...
110186,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110187,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN
110188,32200001,201142,Kevin,Durant,35.0,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN

In [152]:
inactive_players[inactive_players['player_id'].duplicated()]

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
23,29600821,770,Mark,West,52.0,1610612739,Cleveland,Cavaliers,CLE
26,29600873,770,Mark,West,41.0,1610612739,Cleveland,Cavaliers,CLE
28,29600961,168,Chris,Mills,50.0,1610612739,Cleveland,Cavaliers,CLE
33,29601087,238,Tyrone,Hill,32.0,1610612739,Cleveland,Cavaliers,CLE
36,29601139,291,Ed,Pinckney,54.0,1610612748,Miami,Heat,MIA
...,...,...,...,...,...,...,...,...,...
110186,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110187,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN
110188,32200001,201142,Kevin,Durant,35.0,1610616833,Team,Giannis,GNS
110189,32200001,1629627,Zion,Williamson,1.0,1610616834,Team,LeBron,LBN
110190,32200001,201939,Stephen,Curry,30.0,1610616834,Team,LeBron,LBN

In [154]:
inactive_players.to_csv('D:/Datasets/NBA/csv/inactive_players_norm.csv')

In [155]:
line_score=pd.read_csv('D:/Datasets/NBA/csv/line_score.csv')

In [158]:
line_score

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,pts_qtr3_home,pts_qtr4_home,pts_ot1_home,pts_ot2_home,pts_ot3_home,pts_ot4_home,pts_ot5_home,pts_ot6_home,pts_ot7_home,pts_ot8_home,pts_ot9_home,pts_ot10_home,pts_home,team_id_away,team_abbreviation_away,team_city_name_away,team_nickname_away,team_wins_losses_away,pts_qtr1_away,pts_qtr2_away,pts_qtr3_away,pts_qtr4_away,pts_ot1_away,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
0,1946-11-01 00:00:00,NaN,24600001,1610610035,HUS,Toronto,Huskies,-,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,1610612752,NYK,New York,Knicks,-,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0
1,1946-11-02 00:00:00,NaN,24600003,1610610034,BOM,St. Louis,Bombers,-,16.0,16.0,18.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,1610610031,PIT,Pittsburgh,Ironmen,-,5.0,15.0,17.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0
2,1946-11-02 00:00:00,NaN,24600002,1610612738,BOS,Boston,Celtics,-,10.0,16.0,14.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1610610032,PRO,Providence,Steamrollers,-,NaN,12.0,18.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
3,1946-11-02 00:00:00,NaN,24600004,1610610025,CHS,Chicago,Stags,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,1610612752,NYK,New York,Knicks,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
4,1946-11-02 00:00:00,NaN,24600005,1610610036,WAS,Washington,Capitols,-,21.0,4.0,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,1610610028,DEF,Detroit,Falcons,-,9.0,10.0,10.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58048,2023-06-07 00:00:00,1.0,42200403,1610612748,MIA,Miami,Heat,1-2,24.0,24.0,20.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.0,1610612743,DEN,Denver,Nuggets,2-1,24.0,29.0,29.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0
58049,2023-06-09 00:00:00,1.0,42200404,1610612748,MIA,Miami,Heat,1-3,21.0,30.0,22.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95.0,1610612743,DEN,Denver,Nuggets,3-1,20.0,35.0,31.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0
58050,2023-06-12 00:00:00,1.0,42200405,1610612743,DEN,Denver,Nuggets,4-1,22.0,22.0,26.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.0,1610612748,MIA,Miami,Heat,1-4,24.0,27.0,20.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89.0
58051,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0
58052,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0

In [160]:
line_score[line_score.duplicated()]

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,pts_qtr3_home,pts_qtr4_home,pts_ot1_home,pts_ot2_home,pts_ot3_home,pts_ot4_home,pts_ot5_home,pts_ot6_home,pts_ot7_home,pts_ot8_home,pts_ot9_home,pts_ot10_home,pts_home,team_id_away,team_abbreviation_away,team_city_name_away,team_nickname_away,team_wins_losses_away,pts_qtr1_away,pts_qtr2_away,pts_qtr3_away,pts_qtr4_away,pts_ot1_away,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
1614,1951-03-02 00:00:00,1.0,35000001,1610616833,EST,East NBA All Stars,East,-,31.0,22.0,30.0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.0,1610616834,WST,West NBA All Stars,West,-,22.0,20.0,22.0,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0
1922,1952-02-11 00:00:00,1.0,35100001,1610616834,WST,West NBA All Stars,West,-,22.0,22.0,27.0,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0,1610616833,EST,East NBA All Stars,East,-,26.0,23.0,33.0,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0
2245,1953-01-13 00:00:00,1.0,35200001,1610616833,EST,East NBA All Stars,East,-,20.0,14.0,21.0,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,1610616834,WST,West NBA All Stars,West,-,20.0,15.0,22.0,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0
2540,1954-01-21 00:00:00,1.0,35300004,1610616833,EST,East NBA All Stars,East,-,28.0,20.0,17.0,19.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,1610616834,WST,West NBA All Stars,West,-,25.0,19.0,23.0,17.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0
2809,1955-01-18 00:00:00,1.0,35400001,1610616833,EST,East NBA All Stars,East,-,21.0,28.0,21.0,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1610616834,WST,West NBA All Stars,West,-,21.0,29.0,21.0,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0
3080,1956-01-24 00:00:00,1.0,35500001,1610616833,EST,East NBA All Stars,East,-,24.0,16.0,24.0,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,1610616834,WST,West NBA All Stars,West,-,17.0,26.0,41.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0
3339,1957-01-15 00:00:00,1.0,35600001,1610616834,WST,West NBA All Stars,West,-,26.0,17.0,23.0,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0,1610616833,EST,East NBA All Stars,East,-,18.0,23.0,33.0,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.0
3590,1958-01-21 00:00:00,1.0,35700001,1610616834,WST,West NBA All Stars,West,-,31.0,35.0,25.0,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.0,1610616833,EST,East NBA All Stars,East,-,30.0,31.0,31.0,38.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.0
3833,1959-01-23 00:00:00,1.0,35800001,1610616833,EST,East NBA All Stars,East,-,31.0,21.0,32.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,1610616834,WST,West NBA All Stars,West,-,27.0,34.0,30.0,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.0
4132,1962-01-16 00:00:00,1.0,36103001,1610616834,WST,West NBA All Stars,West,-,35.0,29.0,41.0,45.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.0,1610616833,EST,East NBA All Stars,East,-,32.0,28.0,34.0,36.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.0
4456,1963-01-16 00:00:00,1.0,36200001,1610616833,EST,East NBA All Stars,East,-,32.0,24.0,24.0,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.0,1610616834,WST,West NBA All Stars,West,-,25.0,25.0,23.0,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0
5450,1967-01-10 00:00:00,1.0,36600001,1610616833,EST,East NBA All Stars,East,-,33.0,34.0,28.0,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0,1610616834,WST,West NBA All Stars,West,-,39.0,38.0,27.0,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.0
6407,1969-01-14 00:00:00,1.0,36800001,1610616833,EST,East NBA All Stars,East,-,35.0,25.0,26.0,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0,1610616834,WST,West NBA All Stars,West,-,19.0,34.0,30.0,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.0
6931,1970-01-20 00:00:00,1.0,36900001,1610616833,EST,East NBA All Stars,East,-,36.0,35.0,35.0,36.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142.0,1610616834,WST,West NBA All Stars,West,-,21.0,38.0,26.0,50.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.0
6967,1971-01-12 00:00:00,1.0,37000001,1610616834,WST,West NBA All Stars,West,-,30.0,32.0,20.0,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,1610616833,EST,East NBA All Stars,East,-,26.0,34.0,23.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.0
8237,1973-01-23 00:00:00,1.0,37200001,1610616834,WST,West NBA All Stars,West,-,27.0,18.0,20.0,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,1610616833,EST,East NBA All Stars,East,-,27.0,23.0,26.0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.0
9627,1977-02-13 00:00:00,1.0,37600027,1610616833,EST,East NBA All Stars,East,-,34.0,34.0,21.0,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.0,1610616834,WST,West NBA All Stars,West,-,23.0,35.0,39.0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.0
14543,1983-02-13 00:00:00,1.0,38200001,1610616834,WST,West NBA All Stars,West,-,31.0,33.0,26.0,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.0,1610616833,EST,East NBA All Stars,East,-,42.0,27.0,34.0,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.0
18130,1987-02-08 00:00:00,1.0,38600001,1610616834,WST,West NBA All Stars,West,-,29.0,41.0,30.0,40.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154.0,1610616833,EST,East NBA All Stars,East,-,33.0,32.0,42.0,33.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149.0
19040,1988-02-07 00:00:00,1.0,38700001,1610616833,EST,East NBA All Stars,East,-,27.0,33.0,39.0,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138.0,1610616834,WST,West NBA All Stars,West,-,32.0,22.0,35.0,44.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.0
19996,1989-02-12 00:00:00,1.0,38800002,1610616833,EST,East NBA All Stars,East,-,31.0,28.0,37.0,38.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134.0,1610616834,WST,West NBA All Stars,West,-,47.0,40.0,24.0,32.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.0
22098,1991-02-10 00:00:00,1.0,39000002,1610616834,WST,West NBA All Stars,West,-,23.0,35.0,34.0,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.0,1610616833,EST,East NBA All Stars,East,-,22.0,45.0,27.0,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.0
23143,1992-02-09 00:00:00,1.0,39100002,1610616833,EST,East NBA All Stars,East,-,31.0,24.0,28.0,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113.0,1610616834,WST,West NBA All Stars,West,-,44.0,35.0,36.0,38.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153.0
24184,1993-02-21 00:00:00,2.0,39210001,1610616834,WST,West NBA All Stars,West,-,27.0,30.0,29.0,33.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.0,1610616833,EST,East NBA All Stars,East,-,26.0,26.0,32.0,35.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.0
26210,1995-02-12 00:00:00,1.0,39400001,1610616833,EST,East NBA All Stars,East,-,28.0,28.0,25.0,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.0,1610616834,WST,West NBA All Stars,West,-,31.0,41.0,32.0,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139.0
27264,1996-02-11 00:00:00,1.0,39500001,1610616833,EST,East NBA All Stars,East,-,33.0,28.0,41.0,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129.0,1610616834,WST,West NBA All Stars,West,-,32.0,26.0,22.0,38.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.0
28367,1997-02-09 00:00:00,1.0,39600001,1610616833,EST,East NBA All Stars,East,-,21.0,36.0,40.0,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.0,1610616834,WST,West NBA All Stars,West,-,34.0,26.0,27.0,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0
31282,2000-02-13 00:00:00,1.0,39900001,1610616833,EST,East NBA All Stars,East,0-1,26.0,33.0,38.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,126.0,1610616834,WST,West NBA All Stars,West,1-0,33.0,31.0,35.0,38.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137.0
34614,2003-02-09 00:00:00,1.0,30200001,1610616833,EST,East NBA All Stars,East,0-1,23.0,29.0,41.0,27.0,18.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,145.0,1610616834,WST,West NBA All Stars,West,1-0,18.0,37.0,31.0,34.0,18.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,155.0
35734,2004-02-15 00:00:00,1.0,30300001,1610616834,WST,West NBA All Stars,West,0-1,31.0,27.0,45.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,136.0,1610616833,EST,East NBA All Stars,East,1-0,33.0,31.0,37.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,132.0
38103,2006-02-19 00:00:00,1.0,30500001,1610616833,EST,East NBA All Stars,East,-,28.0,25.0,41.0,28.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,1610616834,WST,West NBA All Stars,West,-,28.0,42.0,27.0,23.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,120.0
39370,2007-02-18 00:00:00,1.0,30600001,1610616834,WST,West NBA All Stars,West,-,39.0,40.0,40.0,34.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,153.0,1610616833,EST,East NBA All Stars,East,-,31.0,28.0,29.0,44.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,132.0
40661,2008-02-17 00:00:00,1.0,30700001,1610616833,EST,East NBA All Stars,East,-,34.0,40.0,32.0,28.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,134.0,1610616834,WST,West NBA All Stars,West,-,28.0,37.0,28.0,35.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,128.0
43219,2010-02-14 00:00:00,1.0,30900001,1610616833,EST,East NBA All Stars,East,1-0,37.0,39.0,42.0,23.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,141.0,1610616834,WST,West NBA All Stars,West,0-1,34.0,35.0,40.0,30.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,139.0
44540,2011-02-20 00:00:00,1.0,31000001,1610616833,EST,East NBA All Stars,East,0-1,27.0,37.0,36.0,43.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,143.0,1610616834,WST,West NBA All Stars,West,1-0,37.0,39.0,41.0,31.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,148.0
45723,2013-02-17 00:00:00,1.0,31200001,1610616834,WST,West NBA All Stars,West,1-0,31.0,38.0,39.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,143.0,1610616833,EST,East NBA All Stars,East,0-1,26.0,39.0,39.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,138.0
48335,2015-02-15 00:00:00,1.0,31400001,1610616833,EST,East NBA All Stars,East,0-1,36.0,46.0,40.0,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,158.0,1610616834,WST,West NBA All Stars,West,1-0,47.0,36.0,39.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,163.0
50922,2017-02-19 00:00:00,1.0,31600001,1610616834,WST,West NBA All Stars,West,1-0,48.0,49.0,47.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,192.0,1610616833,EST,East NBA All Stars,East,0-1,53.0,39.0,47.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,182.0
53394,2019-02-17 00:00:00,1.0,31800001,1610616833,AST,Team,Giannis,0-1,53.0,42.0,36.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,164.0,1610616834,ASO,Team,LeBron,1-0,37.0,45.0,50.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,178.0
58052,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0

In [161]:
# line_score['pts_ot1_home'].isnull().value_counts()

In [164]:
# line_score=line_score.drop(columns=['pts_ot1_home','pts_ot2_home','pts_ot3_home','pts_ot4_home','pts_ot5_home','pts_ot6_home','pts_ot7_home','pts_ot8_home','pts_ot9_home','pts_ot10_home','pts_ot1_away','pts_ot2_away','pts_ot3_away','pts_ot9_away','pts_ot4_away','pts_ot5_away','pts_ot6_away','pts_ot7_away','pts_ot8_away','pts_ot10_away'])

In [166]:
line_score

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,pts_qtr3_home,pts_qtr4_home,pts_ot1_home,pts_ot2_home,pts_ot3_home,pts_ot4_home,pts_ot5_home,pts_ot6_home,pts_ot7_home,pts_ot8_home,pts_ot9_home,pts_ot10_home,pts_home,team_id_away,team_abbreviation_away,team_city_name_away,team_nickname_away,team_wins_losses_away,pts_qtr1_away,pts_qtr2_away,pts_qtr3_away,pts_qtr4_away,pts_ot1_away,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
0,1946-11-01 00:00:00,NaN,24600001,1610610035,HUS,Toronto,Huskies,-,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,1610612752,NYK,New York,Knicks,-,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0
1,1946-11-02 00:00:00,NaN,24600003,1610610034,BOM,St. Louis,Bombers,-,16.0,16.0,18.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,1610610031,PIT,Pittsburgh,Ironmen,-,5.0,15.0,17.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0
2,1946-11-02 00:00:00,NaN,24600002,1610612738,BOS,Boston,Celtics,-,10.0,16.0,14.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1610610032,PRO,Providence,Steamrollers,-,NaN,12.0,18.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
3,1946-11-02 00:00:00,NaN,24600004,1610610025,CHS,Chicago,Stags,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,1610612752,NYK,New York,Knicks,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
4,1946-11-02 00:00:00,NaN,24600005,1610610036,WAS,Washington,Capitols,-,21.0,4.0,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,1610610028,DEF,Detroit,Falcons,-,9.0,10.0,10.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58048,2023-06-07 00:00:00,1.0,42200403,1610612748,MIA,Miami,Heat,1-2,24.0,24.0,20.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.0,1610612743,DEN,Denver,Nuggets,2-1,24.0,29.0,29.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0
58049,2023-06-09 00:00:00,1.0,42200404,1610612748,MIA,Miami,Heat,1-3,21.0,30.0,22.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95.0,1610612743,DEN,Denver,Nuggets,3-1,20.0,35.0,31.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0
58050,2023-06-12 00:00:00,1.0,42200405,1610612743,DEN,Denver,Nuggets,4-1,22.0,22.0,26.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.0,1610612748,MIA,Miami,Heat,1-4,24.0,27.0,20.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89.0
58051,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0
58052,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0

In [168]:
line_score['team_city_name_home'].unique()

array(['Toronto', 'St. Louis', 'Boston', 'Chicago', 'Washington',
       'New York', 'Pittsburgh', 'Detroit', 'Cleveland', 'Providence',
       'Philadelphia', 'Baltimore', 'Indianapolis', 'Minneapolis',
       'Ft. Wayne Zollner', 'Rochester', 'Denver', 'Anderson',
       'Sheboygan', 'Tri-Cities', 'Waterloo', 'Syracuse',
       'East NBA All Stars', 'Milwaukee', 'West NBA All Stars',
       'Cincinnati', 'Los Angeles', 'San Francisco', 'Seattle',
       'San Diego', 'Phoenix', 'Atlanta', 'Houston', 'Portland',
       'Buffalo', 'Golden State', 'Kansas City-Omaha', 'Capital',
       'New Orleans', 'Kansas City', 'Indiana', 'San Antonio',
       'New Jersey', 'Utah', 'Dallas', 'Sacramento', 'Charlotte', 'Miami',
       'Orlando', 'Minnesota', 'Vancouver', 'Memphis',
       'New Orleans/Oklahoma City', 'Barcelona', 'Tel Aviv', 'Moscow',
       'Istanbul', 'Lottomatica', 'Zalgiris Kaunas', 'Oklahoma City',
       'Real Madrid', 'Vitoria', 'Madrid', 'Brooklyn', 'Haifa', 'Bilbao',
       'Flamengo', 'LA', 'Shanghai', 'Buenos Aires', 'Guangzhou',
       'Melbourne', 'Brisbane', 'Team', "Ra'anana", 'Adelaide'],
      dtype=object)

In [170]:
line_score[line_score['team_city_name_home']=='Team']

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,pts_qtr3_home,pts_qtr4_home,pts_ot1_home,pts_ot2_home,pts_ot3_home,pts_ot4_home,pts_ot5_home,pts_ot6_home,pts_ot7_home,pts_ot8_home,pts_ot9_home,pts_ot10_home,pts_home,team_id_away,team_abbreviation_away,team_city_name_away,team_nickname_away,team_wins_losses_away,pts_qtr1_away,pts_qtr2_away,pts_qtr3_away,pts_qtr4_away,pts_ot1_away,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
52195,2018-02-18 00:00:00,1.0,31700001,1610616834,STP,Team,Stephen,0-1,42.0,36.0,34.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,145.0,1610616833,LBN,Team,LeBron,1-0,31.0,45.0,33.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,148.0
53393,2019-02-17 00:00:00,1.0,31800001,1610616833,AST,Team,Giannis,0-1,53.0,42.0,36.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,164.0,1610616834,ASO,Team,LeBron,1-0,37.0,45.0,50.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,178.0
53394,2019-02-17 00:00:00,1.0,31800001,1610616833,AST,Team,Giannis,0-1,53.0,42.0,36.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,164.0,1610616834,ASO,Team,LeBron,1-0,37.0,45.0,50.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,178.0
54427,2020-02-16 00:00:00,1.0,31900001,1610616833,GNS,Team,Giannis,0-1,41.0,51.0,41.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,155.0,1610616834,LBN,Team,LeBron,1-0,53.0,30.0,41.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,157.0
55543,2021-03-07 00:00:00,1.0,32000001,1610616833,DRT,Team,Durant,0-1,39.0,41.0,45.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.0,1610616834,LBN,Team,LeBron,1-0,40.0,60.0,46.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,170.0
56799,2022-02-20 00:00:00,1.0,32100001,1610616833,DRT,Team,Durant,0-1,45.0,49.0,45.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,160.0,1610616834,LBN,Team,LeBron,1-0,47.0,46.0,45.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,163.0
58051,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0
58052,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0

In [172]:
# line_score.drop(line_score[line_score['team_city_name_home']=='Team'].index,inplace=True)

In [174]:
line_score

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,pts_qtr3_home,pts_qtr4_home,pts_ot1_home,pts_ot2_home,pts_ot3_home,pts_ot4_home,pts_ot5_home,pts_ot6_home,pts_ot7_home,pts_ot8_home,pts_ot9_home,pts_ot10_home,pts_home,team_id_away,team_abbreviation_away,team_city_name_away,team_nickname_away,team_wins_losses_away,pts_qtr1_away,pts_qtr2_away,pts_qtr3_away,pts_qtr4_away,pts_ot1_away,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
0,1946-11-01 00:00:00,NaN,24600001,1610610035,HUS,Toronto,Huskies,-,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,1610612752,NYK,New York,Knicks,-,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0
1,1946-11-02 00:00:00,NaN,24600003,1610610034,BOM,St. Louis,Bombers,-,16.0,16.0,18.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,1610610031,PIT,Pittsburgh,Ironmen,-,5.0,15.0,17.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0
2,1946-11-02 00:00:00,NaN,24600002,1610612738,BOS,Boston,Celtics,-,10.0,16.0,14.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1610610032,PRO,Providence,Steamrollers,-,NaN,12.0,18.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
3,1946-11-02 00:00:00,NaN,24600004,1610610025,CHS,Chicago,Stags,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,1610612752,NYK,New York,Knicks,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
4,1946-11-02 00:00:00,NaN,24600005,1610610036,WAS,Washington,Capitols,-,21.0,4.0,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,1610610028,DEF,Detroit,Falcons,-,9.0,10.0,10.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58048,2023-06-07 00:00:00,1.0,42200403,1610612748,MIA,Miami,Heat,1-2,24.0,24.0,20.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.0,1610612743,DEN,Denver,Nuggets,2-1,24.0,29.0,29.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0
58049,2023-06-09 00:00:00,1.0,42200404,1610612748,MIA,Miami,Heat,1-3,21.0,30.0,22.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95.0,1610612743,DEN,Denver,Nuggets,3-1,20.0,35.0,31.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0
58050,2023-06-12 00:00:00,1.0,42200405,1610612743,DEN,Denver,Nuggets,4-1,22.0,22.0,26.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.0,1610612748,MIA,Miami,Heat,1-4,24.0,27.0,20.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89.0
58051,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0
58052,2023-02-19 00:00:00,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0

In [176]:
line_score.to_csv("D:/Datasets/NBA/csv/line_score_norm.csv")

In [177]:
officials=pd.read_csv("D:/Datasets/NBA/csv/officials.csv")

In [178]:
officials

        game_id  official_id first_name  last_name  jersey_num
0      29600059         1140      Bruce  Alexander         9.0
1      29600059         1165       Luis     Grillo         8.0
2      29600059         1153        Joe   Crawford        17.0
3      29600114         1147       Mike   Callahan        24.0
4      29600114         1142       Dick    Bavetta        27.0
...         ...          ...        ...        ...         ...
70966  32200001       200834       Mark    Lindsay        29.0
70967  32200001         1193    Michael      Smith        38.0
70968  32200001       101284       John      Goble        10.0
70969  32200001       200834       Mark    Lindsay        29.0
70970  32200001         1193    Michael      Smith        38.0

[70971 rows x 5 columns]

In [184]:
officials[officials['official_id'].duplicated()]

        game_id  official_id first_name last_name  jersey_num
12     29600188         1165       Luis    Grillo         8.0
13     29600188         1153        Joe  Crawford        17.0
16     29600213         1157      Terry    Durham        31.0
22     29600365         1158       Hugh     Evans        25.0
23     29600689         1163     Bernie     Fryer         7.0
...         ...          ...        ...       ...         ...
70966  32200001       200834       Mark   Lindsay        29.0
70967  32200001         1193    Michael     Smith        38.0
70968  32200001       101284       John     Goble        10.0
70969  32200001       200834       Mark   Lindsay        29.0
70970  32200001         1193    Michael     Smith        38.0

[70736 rows x 5 columns]

In [186]:
other_stats=pd.read_csv("D:/Datasets/NBA/csv/other_stats.csv")

In [188]:
other_stats

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,times_tied,team_turnovers_home,total_turnovers_home,team_rebounds_home,pts_off_to_home,team_id_away,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,1,0.0,12.0,11.0,NaN,1610612747,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,0,1.0,24.0,7.0,NaN,1610612748,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,1,0.0,15.0,5.0,NaN,1610612751,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,4,0.0,18.0,8.0,NaN,1610612765,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,4,0.0,20.0,7.0,NaN,1610612744,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28266,42200402,0,1610612743,DEN,Denver,50,15,18,15,4,3,1.0,14.0,8.0,19.0,1610612748,MIA,Miami,34,11,5,12,0.0,11.0,4.0,23.0
28267,42200403,0,1610612748,MIA,Miami,34,7,11,5,7,7,0.0,4.0,8.0,8.0,1610612743,DEN,Denver,60,14,11,21,1.0,14.0,7.0,17.0
28268,42200404,0,1610612743,DEN,Denver,48,6,12,17,3,6,2.0,8.0,11.0,8.0,1610612748,MIA,Miami,46,9,14,3,1.0,15.0,9.0,17.0
28269,32200001,0,1610616834,LBN,Team,118,15,27,4,24,14,0.0,10.0,7.0,13.0,1610616833,GNS,Team,88,14,33,19,0.0,12.0,3.0,20.0
28270,32200001,0,1610616834,LBN,Team,118,15,27,4,24,14,0.0,10.0,7.0,13.0,1610616833,GNS,Team,88,14,33,19,0.0,12.0,3.0,20.0

In [190]:
# other_stats.drop(other_stats[other_stats['team_city_home']=='Team'].index,inplace=True)

In [192]:
other_stats['league_id'].value_counts()

league_id
0    28271
Name: count, dtype: int64

In [194]:
other_stats=other_stats.drop(columns='league_id')

In [196]:
other_stats

,game_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,times_tied,team_turnovers_home,total_turnovers_home,team_rebounds_home,pts_off_to_home,team_id_away,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,1610612756,PHX,Phoenix,44,18,2,1,4,1,0.0,12.0,11.0,NaN,1610612747,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,1610612737,ATL,Atlanta,32,9,6,0,0,0,1.0,24.0,7.0,NaN,1610612748,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,1610612739,CLE,Cleveland,36,14,6,20,1,1,0.0,15.0,5.0,NaN,1610612751,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,1610612754,IND,Indiana,34,11,4,10,7,4,0.0,18.0,8.0,NaN,1610612765,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,1610612746,LAC,Los Angeles,40,19,2,12,5,4,0.0,20.0,7.0,NaN,1610612744,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28266,42200402,1610612743,DEN,Denver,50,15,18,15,4,3,1.0,14.0,8.0,19.0,1610612748,MIA,Miami,34,11,5,12,0.0,11.0,4.0,23.0
28267,42200403,1610612748,MIA,Miami,34,7,11,5,7,7,0.0,4.0,8.0,8.0,1610612743,DEN,Denver,60,14,11,21,1.0,14.0,7.0,17.0
28268,42200404,1610612743,DEN,Denver,48,6,12,17,3,6,2.0,8.0,11.0,8.0,1610612748,MIA,Miami,46,9,14,3,1.0,15.0,9.0,17.0
28269,32200001,1610616834,LBN,Team,118,15,27,4,24,14,0.0,10.0,7.0,13.0,1610616833,GNS,Team,88,14,33,19,0.0,12.0,3.0,20.0
28270,32200001,1610616834,LBN,Team,118,15,27,4,24,14,0.0,10.0,7.0,13.0,1610616833,GNS,Team,88,14,33,19,0.0,12.0,3.0,20.0

In [198]:
other_stats.to_csv('D:/Datasets/NBA/csv/other_stats_norm.csv')

In [200]:
play_by_play=pd.read_csv('D:/Datasets/NBAA/csv/play_by_play.csv')

In [182]:
play_by_play

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,score,scoremargin,person1type,player1_id,player1_name,player1_team_id,player1_team_city,player1_team_nickname,player1_team_abbreviation,person2type,player2_id,player2_name,player2_team_id,player2_team_city,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,29600012,0,12,0,1,14:43 PM,12:00,NaN,Start of 1st Period (14:43 PM EST),NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
1,29600012,2,10,0,1,14:50 PM,12:00,Jump Ball O'Neal vs. Kleine: Tip to Cassell,NaN,NaN,NaN,NaN,4.0,406,Shaquille O'Neal,1.610613e+09,Los Angeles,Lakers,LAL,5.0,170,Joe Kleine,1.610613e+09,Phoenix,Suns,PHX,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0
2,29600012,3,2,1,1,14:51 PM,11:45,NaN,NaN,MISS Cassell 15' Jump Shot,NaN,NaN,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
3,29600012,4,4,0,1,14:51 PM,11:43,O'Neal REBOUND (Off:0 Def:1),NaN,NaN,NaN,NaN,4.0,406,Shaquille O'Neal,1.610613e+09,Los Angeles,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
4,29600012,5,2,1,1,14:51 PM,11:29,MISS Ceballos 26' 3PT Jump Shot,NaN,NaN,NaN,NaN,4.0,76,Cedric Ceballos,1.610613e+09,Los Angeles,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13592894,32200001,638,1,79,4,10:54 PM,0:00,Brown 30' 3PT Pullup Jump Shot (35 PTS),NaN,NaN,181 - 175,-6,4.0,1627759,Jaylen Brown,1.610617e+09,Team,LeBron,LBN,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592895,32200001,639,2,1,4,10:54 PM,0:00,NaN,NaN,MISS Markkanen 24' 3PT Jump Shot,NaN,NaN,5.0,1628374,Lauri Markkanen,1.610617e+09,Team,Giannis,GNS,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592896,32200001,640,4,0,4,10:54 PM,0:00,NaN,NaN,Lillard REBOUND (Off:1 Def:2),NaN,NaN,5.0,203081,Damian Lillard,1.610617e+09,Team,Giannis,GNS,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592897,32200001,641,1,79,4,10:54 PM,0:00,NaN,NaN,Lillard 30' 3PT Pullup Jump Shot (26 PTS),184 - 175,-9,5.0,203081,Damian Lillard,1.610617e+09,Team,Giannis,GNS,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1
13592898,32200001,642,13,0,4,10:55 PM,0:00,NaN,End of 4th Period (10:55 PM EST),NaN,184 - 175,-9,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,1

In [ ]:
# play_by_play.drop(play_by_play[play_by_play['player1_team_city']=='Team'].index,inplace=True)

In [201]:
(play_by_play['person2type']==0).value_counts()

person2type
True     9660036
False    3932863
Name: count, dtype: int64

In [ ]:
play_by_play.to_csv('D:/Datasets/NBA/csv/play_by_play_norm.csv')

In [202]:
player=pd.read_csv('D:/Datasets/NBA/csv/player.csv')

In [203]:
player

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4826  1627790           Ante Zizic       Ante         Zizic          0
4827    78647             Jim Zoet        Jim          Zoet          0
4828    78648            Bill Zopf       Bill          Zopf          0
4829  1627826          Ivica Zubac      Ivica         Zubac          1
4830    78650           Matt Zunic       Matt         Zunic          0

[4831 rows x 5 columns]

In [204]:
player[player['id'].duplicated()]

Empty DataFrame
Columns: [id, full_name, first_name, last_name, is_active]
Index: []

In [205]:
team=pd.read_csv('D:/Datasets/NBA/csv/team.csv')

In [212]:
team

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949.0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980.0
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976.0
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946.0
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967.0
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970.0
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948.0
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988.0
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968.0
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989.0
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976.0
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946.0
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989.0
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976.0
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949.0
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968.0
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970.0
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948.0
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976.0
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967.0
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995.0
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974.0
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995.0
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961.0
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948.0
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988.0

In [214]:
team_details=pd.read_csv('D:/Datasets/NBA/csv/team_details.csv')

In [216]:
team_details

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation,facebook,instagram,twitter
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks,https://www.facebook.com/hawks,https://instagram.com/atlhawks,https://twitter.com/ATLHawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls,https://www.facebook.com/chicagobulls,https://instagram.com/chicagobulls,https://twitter.com/chicagobulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends,https://www.facebook.com/dallasmavs,https://instagram.com/dallasmavs,https://twitter.com/dallasmavs
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,NaN,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold,https://www.facebook.com/DenverNuggets,https://instagram.com/nuggets,https://twitter.com/nuggets
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,NaN,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors,https://www.facebook.com/warriors,https://instagram.com/warriors,https://twitter.com/warriors
5,1610612745,HOU,Rockets,1967.0,Houston,Toyota Center,18104.0,Tilman Fertitta,Rafael Stone,Ime Udoka,Rio Grande Valley Vipers,https://www.facebook.com/houstonrockets,https://instagram.com/houstonrockets,https://twitter.com/HoustonRockets
6,1610612746,LAC,Clippers,1970.0,Los Angeles,Crypto.com Arena,19060.0,Steve Ballmer,Michael Winger,Tyronn Lue,Agua Caliente Clippers of Ontario,https://www.facebook.com/LAClippers,https://instagram.com/laclippers,https://twitter.com/LAClippers
7,1610612747,LAL,Lakers,1948.0,Los Angeles,Crypto.com Arena,19060.0,Jeanie Buss,Rob Pelinka,Darvin Ham,South Bay Lakers,https://www.facebook.com/losangeleslakers,https://instagram.com/lakers,https://twitter.com/Lakers
8,1610612748,MIA,Heat,1988.0,Miami,Kaseya Center,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce,https://www.facebook.com/MiamiHeat,https://instagram.com/miamiheat,https://twitter.com/MiamiHEAT
9,1610612749,MIL,Bucks,1968.0,Milwaukee,Fiserv Forum,17500.0,Wesley Edens & Marc Lasry,Jon Horst,Adrian Griffin,Wisconsin Herd,https://www.facebook.com/milwaukeebucks,https://instagram.com/bucks,https://twitter.com/Bucks
10,1610612750,MIN,Timberwolves,1989.0,Minnesota,Target Center,19356.0,Glen Taylor,Tim Connelly,Chris Finch,Iowa Wolves,https://www.facebook.com/MNTimberwolves,https://instagram.com/timberwolves,https://twitter.com/Timberwolves
11,1610612751,BKN,Nets,1976.0,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Jacque Vaughn,Long Island Nets,https://www.facebook.com/BrooklynNets,https://instagram.com/brooklynnets,https://twitter.com/BrooklynNets
12,1610612754,IND,Pacers,1976.0,Indiana,Gainbridge Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Rick Carlisle,Fort Wayne Mad Ants,https://www.facebook.com/pacers,https://instagram.com/pacers,https://twitter.com/Pacers
13,1610612755,PHI,76ers,1949.0,Philadelphia,Wells Fargo Center,NaN,Joshua Harris & David Blitzer,Elton Brand,Nick Nurse,Delaware Blue Coats,https://www.facebook.com/Sixers,https://instagram.com/sixers,https://twitter.com/Sixers
14,1610612756,PHX,Suns,1968.0,Phoenix,Footprint Center,NaN,Mat Ishbia,James Jones,Frank Vogel,No Affiliate,https://www.facebook.com/suns,https://instagram.com/suns,https://twitter.com/Suns
15,1610612757,POR,Trail Blazers,1970.0,Portland,Moda Center,19980.0,Jody Allen,Joe Cronin,Chauncey Billups,No Affiliate,https://www.facebook.com/trailblazers,https://instagram.com/trailblazers,https://twitter.com/trailblazers
16,1610612758,SAC,Kings,1948.0,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Monte McNair,Mike Brown,Stockton Kings,https://www.facebook.com/sacramentokings,https://instagram.com/sacramentokings,https://twitter.com/SacramentoKings
17,1610612759,SAS,Spurs,1976.0,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs,https://www.facebook.com/Spurs,https://instagram.com/spurs,https://twitter.com/spurs
18,1610612760,OKC,Thunder,1967.0,Oklahoma City,Paycom Center,NaN,Clay Bennett,Sam Presti,Mark Daigneault,Oklahoma City Blue,https://www.facebook.com/OKCThunder,https://instagram.com/okcthunder,https://twitter.com/okcthunder
19,1610612761,TOR,Raptors,1995.0,Toronto,Scotiabank Arena,NaN,Lawrence Tanenbaum,Masai Ujiri,NaN,Raptors 905,https://www.facebook.com/TorontoRaptors,https://instagram.com/raptors,https://twitter.com/Raptors
20,1610612762,UTA,Jazz,1974.0,Utah,Delta Center,NaN,Ryan Smith,Justin Zanik,Will Hardy,Salt Lake City Stars,https://www.facebook.com/utahjazz,https://instagram.com/utahjazz,https://twitter.com/utahjazz
21,1610612763,MEM,Grizzlies,1995.0,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle,https://www.facebook.com/MemphisGrizzlies,https://instagram.com/memgrizz,https://twitter.com/memgrizz
22,1610612764,WAS,Wizards,1961.0,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Wes Unseld,Capital City Go-Go,https://www.facebook.com/Wizards,https://instagram.com/washwizards,https://twitter.com/WashWizards
23,1610612765,DET,Pistons,1948.0,Detroit,Little Caesars Arena,NaN,Tom Gores,Ed Stefanski,Monty Williams,Motor City Cruise,https://www.facebook.com/detroitpistons,https://instagram.com/detroitpistons,https://twitter.com/DetroitPistons
24,1610612766,CHA,Hornets,1988.0,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,Steve Clifford,Greensboro Swarm,https://www.facebook.com/hornets,https://instagram.com/hornets,https://twitter.com/hornets

In [218]:
team_history=pd.read_csv('D:/Datasets/NBA/csv/team_history.csv')

In [220]:
team_history

,team_id,city,nickname,year_founded,year_active_till
0,1610612737,Atlanta,Hawks,1968,2019
1,1610612737,St. Louis,Hawks,1955,1967
2,1610612737,Milwaukee,Hawks,1951,1954
3,1610612737,Tri-Cities,Blackhawks,1949,1950
4,1610612741,Chicago,Bulls,1966,2019
5,1610612742,Dallas,Mavericks,1980,2019
6,1610612743,Denver,Nuggets,1976,2019
7,1610612744,Golden State,Warriors,1971,2019
8,1610612744,San Francisco,Warriors,1962,1970
9,1610612744,Philadelphia,Warriors,1946,1961
10,1610612745,Houston,Rockets,1971,2019
11,1610612745,San Diego,Rockets,1967,1970
12,1610612746,Los Angeles,Clippers,1984,2019
13,1610612746,San Diego,Clippers,1978,1983
14,1610612746,Buffalo,Braves,1970,1977
15,1610612747,Los Angeles,Lakers,1960,2019
16,1610612747,Minneapolis,Lakers,1948,1959
17,1610612748,Miami,Heat,1988,2019
18,1610612749,Milwaukee,Bucks,1968,2019
19,1610612750,Minnesota,Timberwolves,1989,2019
20,1610612751,Brooklyn,Nets,2012,2019
21,1610612751,New Jersey,Nets,1977,2011
22,1610612751,New York,Nets,1976,1976
23,1610612754,Indiana,Pacers,1976,2019
24,1610612755,Philadelphia,76ers,1963,2019
25,1610612755,Syracuse,Nationals,1949,1962
26,1610612756,Phoenix,Suns,1968,2019
27,1610612757,Portland,Trail Blazers,1970,2019
28,1610612758,Sacramento,Kings,1985,2019
29,1610612758,Kansas City,Kings,1975,1984
30,1610612758,Kansas City-Omaha,Kings,1972,1974
31,1610612758,Cincinnati,Royals,1957,1971
32,1610612758,Rochester,Royals,1948,1956
33,1610612759,San Antonio,Spurs,1976,2019
34,1610612760,Oklahoma City,Thunder,2008,2019
35,1610612760,Seattle,SuperSonics,1967,2007
36,1610612761,Toronto,Raptors,1995,2019
37,1610612762,Utah,Jazz,1979,2019
38,1610612762,New Orleans,Jazz,1974,1978
39,1610612763,Memphis,Grizzlies,2001,2019
40,1610612763,Vancouver,Grizzlies,1995,2000
41,1610612764,Washington,Wizards,1997,2019
42,1610612764,Washington,Bullets,1974,1996
43,1610612764,Capital,Bullets,1973,1973
44,1610612764,Baltimore,Bullets,1963,1972
45,1610612764,Chicago,Zephyrs,1962,1962
46,1610612764,Chicago,Packers,1961,1961
47,1610612765,Detroit,Pistons,1957,2019
48,1610612765,Ft. Wayne Zollner,Pistons,1948,1956
49,1610612766,Charlotte,Hornets,2014,2019
50,1610612766,Charlotte,Bobcats,2004,2013
51,1610612766,Charlotte,Hornets,1988,2001